<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS counterpart to .htaccess: block all web access to the archived MySQL code.
-->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="legacy-mysql" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <handlers accessPolicy="None" />
  </system.webServer>
</configuration>
