<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS counterpart to .htaccess: the SQL scripts are not public documents. -->
<configuration>
  <system.webServer>
    <handlers accessPolicy="None" />
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".sql" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
